.wrapper {
  width: 16rem;
  font-size: 1.2rem;
}

.card {
  position: relative;
  width: 16rem;
  height: 20.5rem;
  border-radius: 10px;
  overflow: hidden;
}

.banner {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4.2rem;
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: 0.6rem;
}

.titleWrapper {
  margin-top: 0.6rem;
  overflow: hidden;
  text-overflow: ellipsis;
}
.banner .chip {
  background-color: var(--color-black);
  color: white;
}
